body{
    background-color: #222831;
    font-family: 'Poppins', sans-serif;
}

form{
    background-color: #222831;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

h1{
    color: #eeeeee;
    font-weight: 500;
    margin-left: 5px;
}

.title{
    display: flex;
}

.textinput{
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 9px;
    border: 2px, solid, #00adb5;
}

.button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 9px;
    margin-top: 15px;
    background-color: #00adb5;
    color: #eeeeee;
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    background-color: #eeeeee;
    color: #00adb5;
}